<section class="about-section">
  <div class="tablet-container container">
    <div class="about-container">
      <h2 class="about-title">About us</h2>
      <h3 class="about-subtitle">
        Our сraftsmanship: сreating unique handmade furniture
      </h3>
      <p class="about-description">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="advantages-list">
        <li class="advantages-item">
          <p class="advantages-numbers">5+</p>
          <p class="advantages-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-numbers">100%</p>
          <p class="advantages-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-numbers">500+</p>
          <p class="advantages-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div>
      <picture>
        <img class="img-tablet" srcset="
            img/about-us/about-tablet.jpg    1x,
            img/about-us/about-tablet-2x.jpg 2x
          " src="img/about-us/about-tablet.jpg" alt="a room with furniture" width="704" height="540" />
      </picture>
      <picture>
        <img class="img-desktop" srcset="
            img/about-us/about-desktop.jpg    1x,
            img/about-us/about-desktop-2x.jpg 2x
          " src="img/about-us/about-desktop.jpg" alt="a room with furniture" width="536" height="540" />
      </picture>
    </div>
  </div>
  <div>
    <picture>
      <img class="img-mobile" srcset="
          img/about-us/about-mobile.jpg    1x,
          img/about-us/about-mobile-2x.jpg 2x
        " src="img/about-us/about-mobile.jpg" alt="a room with furniture" width="767" height="400" />
    </picture>
  </div>
</section>