<link rel="stylesheet" href="../css/client_reviews.css">

<section class="clients-reviews" id="reviews">
    <div class="container">
        <h2 class="reviews-title">Clients reviews</h2>

        <ul class="reviews-list list">
            <li class="reviews-list-item">
                <div class="reviews-wrap">
                    <div class="reviews-wrap-items">
                        <picture>
                            <source srcset="img/clients_reviews/reviews1.jpg 1x, img/clients_reviews/reviews1-2x.jpg 2x"
                                media="(min-width:375px)" alt="client-icon" width="48">
                            <img src="img/clients_reviews/reviews1.jpg" alt="client-icon" width="48">
                        </picture>
                        <div class="reviews-wrap-text">
                            <h3 class="reviews-wrap-title">Alexandra dream</h3>
                            <p class="reviews-wrap-items-p">1 week ago</p>
                        </div>
                    </div>
                    <p class="reviews-wrap-p">I was blown away by the quality and craftsmanship of the furniture I
                        received from this company.
                        Each piece was unique
                        and beautifully designed, and you can tell that a lot of thought and care goes into every
                        detail.</p>
                </div>
            </li>

            <li class="reviews-second-list-item">
                <div class="reviews-wrap">
                    <div class="reviews-wrap-items">
                        <picture>
                            <source srcset="img/clients_reviews/reviews2.jpg 1x, img/clients_reviews/reviews2-2x.jpg 2x"
                                media="(min-width:375px)" alt="client-icon" width="48">
                            <img src="img/clients_reviews/reviews2.jpg" alt="client-icon" width="48">
                        </picture>
                        <div class="reviews-wrap-text">
                            <h3 class="reviews-wrap-title">James Williams</h3>
                            <p class="reviews-wrap-items-p">A week ago</p>
                        </div>
                    </div>
                    <p class="reviews-wrap-p">The "Minimal" furniture set is a fantastic addition to my home. It
                        boasts a minimalist design, enhancing the feel and
                        look of my living space. The sturdy construction is worth noting too, which speaks volumes
                        about its durability.</p>
                </div>
            </li>

            <li class="reviews-third-list-item">
                <div class="reviews-wrap">
                    <div class="reviews-wrap-items">
                        <picture>
                            <source srcset="img/clients_reviews/reviews3.jpg 1x, img/clients_reviews/reviews3-2x.jpg 2x"
                                media="(min-width:375px)" alt="client-icon" width="48">
                            <img src="img/clients_reviews/reviews3.jpg" alt="client-icon" width="48">
                        </picture>
                        <div class="reviews-wrap-text">
                            <h3 class="reviews-wrap-title">Emily Watson</h3>
                            <p class="reviews-wrap-items-p">3 week ago</p>
                        </div>
                    </div>
                    <p class="reviews-wrap-p">The "Minimal" furniture set has far exceeded my expectations. The
                        sleek design combined with the high-quality materials
                        have not only added an exceptional aesthetic to my space but also offered an uncompromising
                        standard of comfort.</p>
                </div>
            </li>
        </ul>
    </div>
</section>