<footer class="page-footer">
    <div class="container footer-container">
        <div class="footer-logo-socials">
            <a class="logo-link" href="./index.html">
                <svg class="logo-icon">
                    <use href="img/symbol-defs.svg#logo"></use>
                </svg>
            </a>
            <ul class="footer-socials-list">
                <li class="footer-socials-item">
                    <a class="footer-socials-link" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-socials-icon">
                            <use href="img/symbol-defs.svg#ph_facebook-logo-1"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-socials-item">
                    <a class="footer-socials-link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-socials-icon">
                            <use href="img/symbol-defs.svg#ph_instagram-logo-1"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-socials-item"> 
                    <a class="footer-socials-link" href="https://www.youtube.com/" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-socials-icon">
                            <use href="img/symbol-defs.svg#ph_youtube-logo-1"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <nav class="footer-page-navigation">
            <ul class="footer-nav-list">
                <li class="footer-nav-item"><a class="footer-nav-link" href="#about-us">About us</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="#our-products">Our products</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="#prices">Prices</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="#bestsellers">Bestsellers</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="#reviews">Reviews</a></li>
            </ul>
        </nav>
        <div class="footer-contact-info">
            <address class="footer-working-info">
                <ul class="footer-working-info-list">
                    <li class="footer-working-info-item">
                        <a class="footer-company-location" 
                        href="https://www.google.com/maps/place/%D0%9E%D0%B1%D0%BE%D0%BB%D0%BE%D0%BD%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82,+14,+%D0%9A%D0%B8%D1%97%D0%B2,+04205/@50.5052148,30.496633,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4d20e3b042c97:0x59eb7bd7f77d8916!8m2!3d50.5052114!4d30.4992079!16s%2Fg%2F11cncn6z8f?hl=uk-UK&entry=ttu"
                        target="_blank" 
                        rel="noreferrer noopener">
                            Obolonsky Prospect, 14, Kyiv
                        </a>
                    </li>
                    <li class="footer-working-info-item">
                        <p class="footer-work-time">Daily 10:00-21:00</p>
                    </li>
                </ul>
            </address>
            <address class="footer-contacts">
                <ul class="footer-contacts-list">
                    <li class="footer-contacts-item">
                        <a class="footer-contact" href="tel:+380669384758">+380669384758</a>
                    </li>
                    <li class="footer-contacts-item">
                        <a class="footer-contact" href="tel:+380679384758">+380679384758</a>
                    </li>
                    <li class="footer-contacts-item">
                        <a class="footer-contact" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a>
                    </li>
                </ul>
            </address>
        </div>
        <p class="footer-privacy-text">
            By using this website, you agree to the <a class="footer-privacy-link" href="#">Terms of Service </a>and <a class="footer-privacy-link" href="#">Privacy Policy</a>
        </p>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Отримуємо всі елементи з вказаними класами
                const parentElements = document.querySelectorAll('.footer-socials-link, .logo-link, .footer-nav-link, .footer-company-location, .footer-contact, .footer-privacy-link');

                // Додаємо обробник події для кожного батьківського елемента
                parentElements.forEach(parentElement => {
                    const linkElement = parentElement.querySelector('a'); // Отримуємо <a> елемент всередині батьківського елемента

                    if (linkElement) {
                        parentElement.style.transition = 'transform 300ms cubic-bezier(0.4, 0, 0.2, 1)'; // Додаємо перехід для властивості transform

                        parentElement.addEventListener('mouseenter', () => {
                            linkElement.style.transform = 'scale(1.1)';
                        });

                        parentElement.addEventListener('mouseleave', () => {
                            linkElement.style.transform = 'scale(1)';
                        });

                        parentElement.addEventListener('focus', () => {
                            linkElement.style.transform = 'scale(1.1)';
                        });

                        parentElement.addEventListener('blur', () => {
                            linkElement.style.transform = 'scale(1)';
                        });
                    }
                });
            });
    </script>
</footer>
