<header class="header">
  <div class="containers page-header">
    <a href="./index.html" class="header-link">
      <svg class="logo-icon" width="100" height="16">
        <use href="./img/symbol-defs.svg#logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#about-us">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#our-products">Our products</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#prices">Prices</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#newsletter-subscribe"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-open-btn" data-menu-open>
      <svg class="header-icon" width="32" height="32">
        <use href="./img/symbol-defs.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="containers mob-menu-menu bg-menu">
      <a href="./index.html" class="menu-link-logo">
        <svg class="mob-log-icon" width="100" height="16">
          <use href="./img/symbol-defs.svg#logo"></use>
        </svg>
      </a>
      <button type="button" class="menu-close-btn" data-menu-close>
        <svg class="mob-icon" width="32" height="32">
          <use href="./img/symbol-defs.svg#close-icon"></use>
        </svg>
      </button>
    </div>
    <nav class="containers mob-menu-nav">
      <ul class="mob-menu-list list">
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="#about-us">About us</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="#our-products">Our products</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="#prices">Prices</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="#reviews">Reviews</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="#newsletter-subscribe"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
