<header class="header">
  <div class="container page-header">
    <nav class="header-nav">
      <a href="./index.html" class="header-link">
        <svg class="logo-icon" width="100" height="16">
          <use href="./img/symbol-defs.svg#logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-us">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#our-products">Our products</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#prices">Prices</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#newsletter-subscribe">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-open-btn open-menu">
      <svg class="header-icon" width="32" height="32">
        <use href="./img/symbol-defs.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu menu-container">
    <div class="mob-bg-color">
      <div class="container mob-menu-menu">
        <a href="./index.html" class="header-link">
          <svg class="logo-icon" width="100" height="16">
            <use href="./img/symbol-defs.svg#logo"></use>
          </svg>
        </a>
        <button type="button" class="menu-close-btn close-menu" js-close-menu>
          <svg class="mob-icon" width="32" height="32">
            <use href="./img/symbol-defs.svg#close-icon"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="mob-menu-list list burger-menu">
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#about-us">About us</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#our-products">Our products</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#prices">Prices</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#bestsellers">Bestsellers</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#reviews">Reviews</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#newsletter-subscribe">Contacts</a>
      </li>
    </ul>
  </div>
</header>
