<section class="our-products">
  <div class="container">
    <h2 class="title">OUR PRODUCTS</h2>
    <ul class="img-list">
      <li class="img-item">
        <picture>
          <source srcset="../img/our-products/product-1-desk.jpg  1x,
              ../img/our-products/product-1-desk@2x.jpg 2x" media="(min-width:1166px)" />
          <source srcset="
              ../img/our-products/product-1-tab.jpg    1x,
              ../img/our-products/product-1-tab@2x.jpg 2x
            " media="(min-width:768px)" />
          <source srcset="
              ../img/our-products/product-1.jpg    1x,
              ../img/our-products/product-1@2x.jpg 2x
            " media="(min-width:320px)" />
          <img class="products-img" src=" ../img/our-products/product-1.jpg" width="343" height="300"
            alt="Minimalist storage solutions" />
        </picture>
        <p class="list-subtitle">Minimalist storage solutions</p>
      </li>
      <li class="img-item">
        <picture>
          <source srcset="img/our-products/product-2-desk.jpg    1x,
              ../img/our-products/product-2-desk@2x.jpg 2x" media="(min-width:1166px)" />
          <source srcset="
              ../img/our-products/product-2-tab.jpg    1x,
              ../img/our-products/product-2-tab@2x.jpg 2x
            " media="(min-width:768px)" />
          <!-- <source
            srcset="
              ../img/our-products/product-2.jpg    1x,
              ../img/our-products/product-2@2x.jpg 2x
            "
            media="(min-width:320px)"
          /> -->
          <img class="products-img" src="img/our-products/product-2-tab.jpg" width="344" height="300"
            alt="Handcrafted minimalist seating" />
        </picture>
        <p class="list-subtitle">Handcrafted minimalist seating</p>
      </li>
      <li class="img-item">
        <picture>
          <source srcset=". ../img/our-products/product-3-desk.jpg    1x,
              ../img/our-products/product-3-desk@2x.jpg 2x" media="(min-width:1166px)" />
          <!-- <source
            srcset="
              ../img/our-products/product--tab.jpg    1x,
              ../img/our-products/product--tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          /> -->
          <!-- <source
            srcset="
              ../img/our-products/product-2.jpg    1x,
              ../img/our-products/product-2@2x.jpg 2x
            "
            media="(min-width:320px)"
          /> -->
          <img class="products-img" src="../img/our-products/product-3-desk.jpg" width="312" height="300"
            alt="Sleek and simple tables" />
        </picture>
        <p class="list-subtitle">Sleek and simple tables</p>
      </li>
      <li class="img-item">
        <picture>
          <source srcset=". ../img/our-products/product-4-desk.jpg    1x,
              ../img/our-products/product-4-desk@2x.jpg 2x" media="(min-width:1166px)" />
          <!-- <source
            srcset="
              ../img/our-products/product--tab.jpg    1x,
              ../img/our-products/product--tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          /> -->
          <!-- <source
            srcset="
              ../img/our-products/product-2.jpg    1x,
              ../img/our-products/product-2@2x.jpg 2x
            "
            media="(min-width:320px)"
          /> -->
          <img class="products-img" src="../img/our-products/product-4-desk.jpg" width="312" height="300"
            alt="Minimalist seating for every space" />
        </picture>
        <p class="list-subtitle">Minimalist seating for every space</p>
      </li>
    </ul>
    <p></p>
  </div>
</section>