<section class="newsletter">
  <div class="container">
    <h1 class="newsletter-subtitle">Newsletter</h1>
    <p class="newsletter-text">
      Every week we will send you new designs and information about sales.
    </p>
    <form class="newsletter-form">
      <div class="newsletter-field">
        <label class="newsletter-label"
          ><input
            type="text"
            name="newsletter-user-name"
            class="newsletter-input"
            placeholder="Name"
        /></label>
      </div>
      <div class="newsletter-field">
        <label class="newsletter-label"
          ><input
            type="email"
            name="newsletter-email"
            class="newsletter-input"
            placeholder="E-mail"
        /></label>
      </div>
      <div class="newsletter-field-check">
        <input
          type="checkbox"
          id="user-agree"
          name="user-agree"
          class="newsletter-check visually-hidden"
          value="true"
        />
        <label for="user-agree" class="newsletter-check-text">
          <span class="newsletter-check-item">
            <svg class="chek-icon" width="13" height="13">
              <use href="/img/symbol-defs.svg#Property-1check-1"></use></svg
          ></span>
          Agree to subscribe to the newsletter</label
        >
        <button type="submit" class="newsletter-submit-btn">Send</button>
      </div>
    </form>
    <div class="newsletter-img">
      <img
        src="/img/subscription/product-7.jpg"
        width="343"
        height="300"
        alt="a book on the table"
      />
    </div>
  </div>
</section>
