.about-section {
  padding-top: 64px;
  background-color: var(--light-blue);
}

.image-container {
  width: 100%;
  height: 400px;
  background-image: url(../img/about-us/about-mobile-new.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .image-container {
      background-image: url(../img/about-us/about-mobile-new-2x.jpg);
    }
  }
  background-repeat: no-repeat;
  background-position-x: 27%;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-title::before {
  content: '';
  width: 30px;
  height: 1px;
  background-color: var(--blue-font);
}

.about-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-subtitle {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 30px;
}

.about-description {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 30px;
  letter-spacing: 0.02em;
}

.advantages-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 64px;
}

.advantages-item {
  width: 170px;
}

.advantages-numbers {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.advantages-text {
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
}

.img-tablet {
  display: none;
}

.img-desktop {
  display: none;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 16px;
  }

  .about-subtitle {
    font-size: 28px;
  }

  .about-description {
    font-size: 16px;
    letter-spacing: 0em;
  }

  .advantages-numbers {
    font-size: 50px;
  }

  .advantages-text {
    font-size: 16px;
  }

  .img-tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .about-section {
    padding-bottom: 100px;
    padding: 0;
    background-color: inherit;
  }

  .about-container {
    padding: 36px 64px 36px 64px;
    max-width: 576px;
    background-color: var(--light-blue);
    margin-bottom: 30px;
  }

  .about-subtitle {
    font-size: 32px;
  }

  .about-description {
    font-size: 18px;
  }

  .advantages-list {
    flex-direction: row;
    padding-bottom: 0;
  }

  .advantages-text {
    font-size: 18px;
  }

  .image-container {
    display: none;
  }

  .img-tablet {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
  }

  .tablet-container {
    height: 540px;
    display: flex;
    align-items: center;
  }

  .about-container {
    padding: 36px 69px 36px 69px;
    max-width: 760px;
  }

  .about-subtitle {
    width: 622px;
  }

  .about-description {
    width: 622px;
  }

  .advantages-list {
    gap: 55px;
    width: 622px;
  }

  .img-tablet {
    display: none;
  }

  .about-container {
    margin: 0px 24px 0px 0px;
  }

  .advantages-numbers {
    padding-bottom: 20px;
  }

  .img-desktop {
    display: block;
  }
}
