.about-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.about-us-text-container {
  background-color: var(--light-blue);
  padding: 36px 64px;
}

.about-us {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-us-img-wrap {
  overflow: hidden;
}

.about-us-img {
  position: absolute;
  width: 100%;
  max-width: calc(100% + 32px);
  bottom: 0;
  left: 0;
}

.about-us-text-wrap {
}

.title-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.line-container {
  position: relative;
  width: 30px;
  /* width: 100%; */
  /* height: 100%; */
}

.line-container::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: var(--blue-font);
  /* top: 50%;
  left: 0;
  transform: translateY(-50%); */
}

.about-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.about-subtitle {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 30px;
}

.about-description {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 30px;
  letter-spacing: 0.02em;
}

.advantages-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.advantages-item {
  width: 170px;
}

.advantages-numbers {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.advantages-text {
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 16px;
  }

  .about-subtitle {
    font-size: 28px;
  }

  .about-description {
    font-size: 16px;
    letter-spacing: 0em;
  }

  .advantages-numbers {
    font-size: 50px;
  }

  .advantages-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .about-section {
    padding: 36px 64px;
  }
  .about-subtitle {
    width: 535px;
  }

  .about-description {
    width: 535px;
  }

  .advantages-list {
    flex-direction: row;
  }

  .advantages-text {
    font-size: 18px;
  }

  .about-us-img {
    position: unset;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
  }
}
