.bestsellers-justify {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bestsellers-container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 1096px;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
} */
.bestsellers-title {
  text-align: center;
  color: var(--blue-font, #0a224a);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.bestsellers-wrap-container {
}
.bestsellers-wrap {
  width: calc((100% - 20px) / 2);
}
.bestsellers-wrap-title {
  max-width: 258px;
  color: var(--blue-font, #0a224a);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 10px;
}
.bestsellers-wrap-text {
  max-width: 258px;
  color: var(--blue-font, #0a224a);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
.bestsellers-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 20px;
}
.bestsellers-item {
}
