.clients-reviews{
    background-color: var(--light-blue, #F7FAFF);
    padding: 36px 0;
}

.reviews-title{
    color: var(--blue-font, #0A224A);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.reviews-wrap{
    
    border-radius: 8px;
    background: var(--white, #FFF);
    margin: 0 auto;
    padding: 24px;
    max-width: 343px;
    width: 100%;
    box-sizing: border-box;
}

.reviews-wrap-items{
    display: flex;
    gap: 14px;
    margin-bottom: 24px;
}

.reviews-wrap-items-p{
    color: var(--blue-font, #0A224A);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9;
    text-align: start;
}

.reviews-wrap-p{
    color: var(--blue-font, #0A224A);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;

    max-width: 296px;
    width: 100%;
}

.reviews-second-list-item{
    display: none;
}

.reviews-third-list-item{
    display: none;
}

@media screen and (min-width: 375px)  {

    .container{
        max-width: 375px;
    }

    .reviews-wrap {
            width: 343px;
        }

    .reviews-wrap-p{
        width: 296px;
    }
}

@media screen and (min-width: 768px) {

    .container {
            max-width: 573px;
        }

.reviews-second-list-item {
        display: block;
    }

.reviews-list{
    display: flex;
    justify-content: center;
    gap: 16px;
}

    .reviews-wrap-items {
            margin-bottom: 14px;
        }
}


@media screen and (min-width: 1440px) {
    .container {
            max-width: 1320px;
        }

        .clients-reviews {
            padding: 60px 0;
        }

    .reviews-third-list-item{
        display: block;
    }

        .reviews-list {
            gap: 24px;
        }
        .reviews-wrap-items {
            margin-bottom: 16px;
        }

        .reviews-wrap-p {
            max-width: 360px;
            width: 100%;
        }

        .reviews-wrap{
            padding: 32px;
        }

}

