.clients-reviews {
  background-color: var(--light-blue, #f7faff);
  padding: 36px 0;
  margin-top: 64px;
}

.reviews-title {
  color: var(--blue-font, #0a224a);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.reviews-wrap {
  border-radius: 8px;
  background: var(--white, #fff);
  margin: 0 auto;
  padding: 24px;
  max-width: 343px;
  width: 100%;
  box-sizing: border-box;
}

.reviews-wrap-items {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}

.reviews-wrap-img {
  width: 48px;
}

.reviews-wrap-title {
  color: var(--blue-font, #0a224a);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.reviews-wrap-items-p {
  color: var(--blue-font, #0a224a);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9;
  text-align: start;
}

.reviews-wrap-p {
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;

  max-width: 296px;
  width: 100%;
}

.reviews-second-list-item {
  display: none;
}

.reviews-third-list-item {
  display: none;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }

  .reviews-wrap {
    width: 343px;
  }

  .reviews-wrap-p {
    width: 296px;
  }
}

@media screen and (min-width: 768px) {
  .clients-reviews {
    margin-top: 100px;
  }

  .container {
    max-width: 573px;
  }

  .reviews-title {
    font-size: 32px;
    line-height: 1.4;
  }

  .reviews-second-list-item {
    display: block;
  }

  .reviews-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .reviews-wrap-items {
    margin-bottom: 14px;
  }

  .reviews-wrap-img {
    width: 56px;
  }

  .reviews-wrap-title {
    margin-bottom: 4px;
    font-size: 20px;
  }

  .reviews-wrap-items-p {
    font-size: 16px;
    line-height: 1.5;
  }

  .reviews-wrap-p {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }

  .clients-reviews {
    padding: 60px 0;
  }

  .reviews-third-list-item {
    display: block;
  }

  .reviews-list {
    gap: 24px;
  }
  .reviews-wrap-items {
    margin-bottom: 16px;
  }

  .reviews-wrap-p {
    max-width: 360px;
    width: 100%;
  }

  .reviews-wrap {
    padding: 32px;
    max-width: 424px;
    width: 100%;
  }
}
