.page-footer {
    padding-top: 36px;
    padding-bottom: 16px;
    background-color: var(--blue-font);
    color: var(--white);
}

.footer-logo-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.logo-icon {
    width: 100px;
    height: 16px;
    fill: currentColor;
}

.footer-socials-list {
    display: flex;
    gap: 16px;
}

.footer-socials-icon {
    width: 28px;
    height: 28px;
    fill: currentColor;
}

.footer-page-navigation {
    margin-bottom: 36px;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-contact-info {
    letter-spacing: 0.01em;
}

.footer-working-info {
    margin-bottom: 35px;
}

.footer-working-info-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-contacts-item:last-child {
    display: none;
}

.footer-privacy-text {
    margin-top: 64px;
    text-align: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.099em;
    opacity: 0.6;
}

.footer-privacy-link {
    text-decoration: underline;
}

.logo-link,
.footer-working-info-item:first-child,
.footer-contacts-item,
.footer-socials-item,
.footer-nav-item {
    max-width: max-content;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus,
.footer-working-info-item:first-child:hover,
.footer-contacts-item:hover {
    transform: scale(1.05);
}

.footer-socials-item:hover,
.footer-nav-item:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
.page-footer {
    padding-bottom: 36px;
}

.footer-container {
    position: relative;
}

.footer-logo-socials {
    margin-bottom: 20px;
}

.logo-icon {
    width: 127px;
}

.footer-socials-icon {
    width: 40px;
    height: 40px;
}

.footer-page-navigation {
    position: absolute;
    top: 0;
    left: 400px;
    margin-bottom: 0;
}

.footer-nav-list {
    gap: 16px;
    padding: 8px;
    font-size: 18px;
    line-height: 1.5;
}

.footer-contact-info {
    font-size: 19px;
}

.footer-working-info {
    margin-bottom: 64px;
}

.footer-working-info-list {
    gap: 24px;
}

.footer-contacts-list {
    gap: 24px;
}

.footer-contacts-item:last-child {
    display: block;
}

.footer-privacy-text {
    font-size: inherit;
    line-height: 1.25;
    letter-spacing: 0.07em;
    opacity: 0.6;
}
}

@media screen and (min-width: 1440px) {
.footer-logo-socials {
    margin-bottom: 27px;
}

.footer-socials-list {
    gap: 30px;
}

.footer-page-navigation {
    left: 396px;
}

.footer-nav-list {
    flex-direction: row;
    gap: 30px;
}

.footer-contact-info {
    display: flex;
    gap: 87px;
}

.footer-working-info {
    margin-bottom: 0;
}

.footer-contacts-list {
    flex-wrap: wrap;
    gap: 24px 82px;
    height: 72px;
}

.footer-privacy-text {
    margin-top: 35px;
}
}