.hero {
  height: 717px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/hero/mob-bg.jpg);
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(/img/hero/mob-bg-2x.jpg);
  }
}

.hero .containers {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hero-title {
  margin-bottom: 0;
  max-width: 286px;
  font-family: Playfair Display, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 140px;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero-description {
  max-width: 343px;
  line-height: 1.5;
}

.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 48px;
  background-color: #0a224a;
  color: #ffffff;
  line-height: 1.5;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:focus,
.hero-link:hover {
  background-color: #061835;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: none;
    height: 100%;
    padding-bottom: 136px;
  }

  .hero .containers {
    padding: 0 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/hero/tab-bg-left.jpg),
      url(/img/hero/tab-bg-right.jpg);
    /* background-size: 338px, 387px;
    background-position: 20px 263px, calc(100% - 32px) 58px; */
    background-size: 308px, 367px;
    background-position: 32px 263px, calc(100% - 32px) 57px;
    gap: 410px;
  }

  @media (min-resolution: 192dpi) {
    .hero .containers {
      background-image: url(/img/hero/tab-bg-left-2x.jpg),
        url(/img/hero/tab-bg-right-2x.jpg);
    }
  }

  .hero-title {
    padding-top: 74px;
    max-width: 648px;
    font-size: 50px;
  }

  .hero-wrap {
    padding-top: 32px;
    gap: 30px;
  }

  .hero-description {
    font-size: 18px;
    max-width: 312px;
  }

  .hero-link {
    height: 50px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    margin: 0 auto;
  }

  .hero .containers {
    max-width: 1440px;
    padding: 0 60px;
    height: 594px;
    max-width: 1440px;
    background-image: url(/img/hero/hero-bg-left.jpg),
      url(/img/hero/hero-bg-center.jpg), url(/img/hero/hero-bg-right.jpg);
    background-size: 310px, 648px, 312px;
    background-position: 60px 265px, 395px 64px, calc(100% - 60px) 64px;
    /* background-size: 310px, 750px, 335px;
    background-position: 20px 265px, 355px 64px, calc(100% - 10px) 64px; */
    gap: 360px;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero {
    max-width: 1440px;
    padding-bottom: 100px;
  }

  .hero-wrap {
    justify-content: end;
  }

  .hero-description {
    max-width: 328px;
  }

  @media (min-resolution: 192dpi) {
    .hero .containers {
      background-image: url(/img/hero/hero-bg-left-2x.jpg),
        url(/img/hero/hero-bg-center-2x.jpg),
        url(/img/hero/hero-bg-right-2x.jpg);
    }
  }
}
