.price-section {
  margin: 64px 0;
}
.price-wrapper {
}
.container {
}
.price-list {
}
.price-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #0a224a;
  padding: 30px 0;
}

.price-list-item:last-child {
  border-bottom: 1px solid #0a224a;
}
.price-item-name {
  color: var(--blue-font, #0a224a);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
.price-item-price {
  color: var(--blue-font, #0a224a);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
}

.price-list-item {
  position: relative;
  overflow: hidden;
}

.price-item-name {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.price-item-name:hover {
  transform: translateX(80px);
}

.price-item-name::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(-80px);
  width: 50px;
  height: 3px;
  background-color: var(--blue-font);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.price-item-name:hover::before {
  opacity: 1;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .price-section {
    margin: 100px 0;
  }
  .price-item-name {
    font-size: 32px;
  }
  .price-item-price {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .price-wrapper {
    width: 1096px;
  }

  .price-item-name {
    font-size: 32px;
  }
  .price-item-price {
    font-size: 18px;
  }
}
