.newsletter {
  padding: 64px 0;
}

.newsletter-left-side {
  margin-bottom: 30px;
}

.newsletter-subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.newsletter-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.newsletter-form {
}

.newsletter-field {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.newsletter-input {
  font-size: 16px;
  line-height: 1.5;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  padding-right: 50px;
  border: 1px solid var(--dark-gray-bg-color, #b6b6b6);
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-input:hover,
.newsletter-input:focus {
  border: 1px solid var(--blue-font, #0a224a);
}

/* .newsletter-input::after {
  content: '';
  width: 1px;
  height: 19px;
  background-color: #0a224a;
} */

.newsletter-input::placeholder {
  color: var(--light-gray-bg-color, #d9d9d9);
  font-size: 16px;
  line-height: 1.5;
}

.newsletter-input:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid var(--error-state, #e74a3b);
  color: var(--error-state, #e74a3b);
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-input-icon {
  position: absolute;
  top: 13px;
  right: 20px;
  fill: transparent;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-input:not(:placeholder-shown):not(:focus):invalid
  + .newsletter-input-icon {
  fill: var(--error-state, #e74a3b);
}

.newsletter-field-check {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  gap: 32px;
}

.newsletter-check-text {
  color: var(--dark-gray-bg-color, #7a7a7a);
  font-size: 16px;
  line-height: 1.5;
}

.newsletter-check-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--gray-bg-color, #b6b6b6);
  fill: transparent;
  margin-right: 8px;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-check:checked + .newsletter-check-text .newsletter-check-item {
  background-color: var(--blue-font, #0a224a);
  stroke: var(--white, #fff);
  border: 1px solid var(--blue-font, #0a224a);
}

.newsletter-check:focus + .newsletter-check-text .newsletter-check-item {
  border-color: var(--blue-font, #0a224a);
}

.newsletter-submit-btn {
  color: var(--white, #fff);
  background-color: var(--blue-font, #0a224a);
  display: flex;
  width: 224px;
  height: 50px;
  padding: 17px 65px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-submit-btn:hover,
.newsletter-submit-btn:focus {
  background-color: #061835;
}

.newsletter-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .newsletter {
    padding: 100px 0;
  }

  .newsletter-subtitle {
    font-size: 32px;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 20px;
  }

  .newsletter-text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .newsletter-input {
    font-size: 18px;
  }

  .newsletter-input::placeholder {
    font-size: 18px;
  }

  .newsletter-field-check {
    gap: 30px;
  }

  .newsletter-left-side {
    max-width: 536px;
    margin-bottom: 64px;
  }

  .newsletter-check-text {
    font-size: 18px;
  }

  .newsletter-submit-btn {
    font-size: 18px;
  }

  .newsletter-img {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter > .container {
    display: flex;
    justify-content: center;
    gap: 100px;
    max-width: 1096px;
    padding: 0;
  }

  .newsletter-left-side {
    min-width: 536px;
  }
}
