.newsletter {
  padding: 64px 0;
}

.newsletter-left-side {
  margin-bottom: 30px;
}

.newsletter-subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.newsletter-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.newsletter-form {
}

.newsletter-field {
  display: flex;
  margin-bottom: 20px;
}

.newsletter-input {
  font-size: 16px;
  line-height: 1.5;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  border: 1px solid var(--dark-gray-bg-color, #b6b6b6);
}

.newsletter-input::placeholder {
  color: var(--light-gray-bg-color, #d9d9d9);
  font-size: 16px;
  line-height: 1.5;
}

.newsletter-field-check {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  gap: 32px;
}

.newsletter-check {
}

.newsletter-check-text {
  color: var(--dark-gray-bg-color, #7a7a7a);
  font-size: 16px;
  line-height: 1.5;
}

.newsletter-check-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--gray-bg-color, #b6b6b6);
  fill: transparent;
}

.newsletter-check:checked + .newsletter-check-text .newsletter-check-item {
  background-color: var(--blue-font, #0a224a);
  stroke: var(--white, #fff);
  border: none;
}

.newsletter-submit-btn {
  color: var(--white, #fff);
  background-color: var(--blue-font, #0a224a);
  display: flex;
  width: 224px;
  height: 50px;
  padding: 17px 65px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  border: none;
}

.newsletter-submit-btn:hover,
.newsletter-submit-btn:focus {
  background-color: #061835;
}

.newsletter-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .newsletter {
    padding: 100px 0;
  }

  .newsletter-subtitle {
    font-size: 32px;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 20px;
  }

  .newsletter-text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .newsletter-input {
    font-size: 18px;
  }

  .newsletter-field-check {
    gap: 30px;
  }

  .newsletter-left-side {
    max-width: 536px;
    margin-bottom: 64px;
  }

  .newsletter-check-text {
    font-size: 18px;
  }

  .newsletter-submit-btn {
    font-size: 18px;
  }

  .newsletter-img {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter > .container {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}
